* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Gill Sans MT";
}
html,
body {
  height: 100%;
  width: 100%;
}
body {
  background-color: #111;
  color: #fff;
}
.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px 20px;
}
ul {
  display: flex;
  gap: 50px;
  list-style-type: none;
}

.main-h2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%);
  font-size: 35px;
}
